<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>值班表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="fc">
        <div id="app">
            &nbsp;今天: {{ today.year }} 年 {{ today.month }} 月{{ today.day }} 日
            <div class="container">
                <div id="circle">
                    <div>明天是{{ tom.status.weekNumStr }}</div>
                    <div>
                        <span v-if="tom.status.ban === 'shangwu_wanshang'">值早晚班</span>
                        <span v-if="tom.status.ban === 'zhengchang' && !tom.status.xiuxi">正常上班</span>
                        <span v-if="tom.status.ban === 'xiawu'">值下午班</span>
                        <span v-show="tom.status.xiuxi">休息</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="table_row">
                    <div class="date">日期</div>
                    <div class="date">周几</div>
                    <div class="ban">
                        值班
                    </div>
                    <div class="ban">
                        休息
                    </div>
                </div>
                <div class="table_row" :class="{xiuxi: day.xiuxi, outdate: day.outdate, active: today.fullStr === day.dateStr}"
                    v-for="(day,index) in table" :key="index">
                    <div class="date">
                        <span v-if="today.fullStr === day.dateStr">&nbsp;&nbsp;今天</span>
                        <span v-else> {{ day.dateStr }} </span>
                    </div>
                    <div class="date"> {{ day.weekNumStr }}</div>
                    <div class="ban">
                        <div v-if="day.ban === 'shangwu_wanshang'">早晚</div>
                        <div v-if="day.ban === 'zhengchang'">正常</div>
                        <div v-if="day.ban === 'xiawu'">下午</div>
    
                    </div>
                    <div class="ban">
                        <div v-show="day.xiuxi">休息</div>
                    </div>
    
                </div>
            </div>
            <div class="btn_container">
                <div class="btn" @click="continueLoad">点此处继续加载</div>
            </div>
        </div>
    </div>
    
    <script src="./main.js"></script>
</body>

</html>